@tailwind base;
@tailwind components;
@tailwind utilities;

/* App.css or global styles */
body {
  margin: 0;
  font-family: sans-serif;
  background: linear-gradient(to bottom right, #0f2027, #203a43, #2c5364); /* dark blue tones */
  min-height: 100vh;
}